.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-bg-image {
  background-image: url("./Assets/Mock3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.mock-one {
  background-image: url("./Assets/mock.jpg");
  background-size: cover;
  background-position: center;
}

.mock-two {
  background-image: url("./Assets/mock2.jpg");
  background-size: cover;
  background-position: center;
}

.mock-three {
  background-image: url("./Assets/Mock3.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
